.title-product{
    @include dimensions(119px, 43px);
    @include margins(15px, 6.51px, 22.72px, 0px);
    font-size: 32px;
    font-weight: map-get($webfont-weight, "regular");
    color: $webfatorial-titles
}

.border{
    @include dimensions(955px, 1px);
    @include margins(0px, 0px, 24px, 0px);
    background-color: $webfatorial-gray1;
}

.filters{
    display: flex;
    align-items: center;
    @include margins(8px, 42px, 24px, 0px);
    
    .grid{
        @include dimensions(20px, 20px);
        color: $webfatorial-titles;
        cursor: pointer;
        
        &:hover{
            color: $webfatorial-titles !important
        }
    }
    
    .list{
        @include dimensions(24.62px, 20px);
        @include margins(0px, 0px, 11.61px, 0px);
        color: $webfatorial-buttons;
        cursor: pointer;
        
        &:hover{
            color: $webfatorial-titles !important
        }
    }
}

.container-catalog{
    @include dimensions(1000px, auto);
    @include margins(0px, 30px, 25px, 0px);
}

@media screen and (max-width: 1024px){
    .products-catalog{
        @include dimensions(768px, auto);
    }

    .container-catalog{
        @include dimensions(752px, auto);
    }

    .border{
        @include dimensions(733px, auto);
    }
}

@media screen and (max-width: 768px){
    .products-catalog{
        @include dimensions(538px, auto);

        .border{
            @include dimensions(496px, auto);
        }

        .container-catalog{
            @include dimensions(504px, auto);
            @include margins(0px, 25px, 25px, 0px);
        }
    }
}

@media screen and (max-width: 320px){
    
    .products-catalog{
        @include dimensions(320px, auto);

        .border{
            @include invisible(hidden, 0px)
        }
    
        .container-catalog{
            @include dimensions(292.2px, auto);
            @include margins(0px, 25px, 16.25px, 0px);

        }
    
        .filters{
            @include dimensions(302px, 27px);
            @include margins(8px, 50px, 16.74px, 0px);
            
            .grid, .list{
                @include invisible(hidden, 0px)
            }
        }
    }
}