.numbers-page{
    @include dimensions(193.11px, auto);
    @include margins(0px, 27px, 767.1px, 0px);
    display: flex;

    .number{
        @include dimensions(124px, 22px);
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    
        .page-1{
            font-size: 16px;
            color: $webfatorial-gray5
        }
    }
}

.back-button, .forward-button{
    @include dimensions(11.11px, 18px);
    color: $webfatorial-buttons;
    font-weight: map-get($webfont-weight, "extra-bold");
    cursor: pointer
}

.back-button{
    @include margins(0px, 0px, 0px, 23.44px);
}

.forward-button{
    @include margins(0px, 0px, 23.44px, 0px);
}

@media screen and (max-width: 1024px){
    .numbers-page{
        @include margins(0px, 27px, 545.72px, 0px);
    }
}

@media screen and (max-width: 768px){
    .numbers-page{
        @include margins(0px, 27px, 384px, 0px);
    }
}

@media screen and (max-width: 320px){
    .numbers-page{
        @include margins(0px, 25px, 64.1px, 0px);
    }
}