.product{
    @include dimensions(212px, 365px);
    @include margins(0px, 20px, 0px, 35.72px);
    display: flex;
    flex-direction: column;
    align-items: center
}

.photo{
    @include dimensions(212px, 233px);
    @include margins(0px, 8.49px, 0px, 0px);
    border: 1px solid $webfatorial-gray1;
    background-color: $webfatorial-background;
    display: flex;
    justify-content: center;
    cursor: pointer
}

.image-product{
    @include dimensions(196.27px, 215.71px);
    align-self: center;
    object-fit: scale-down
}

.description-product{
    @include dimensions(auto, 22px);
    @include margins(0px, 0px, 0px, 0px);
    font-size: 16px;
    font-weight: map-get($webfont-weight, "regular");
    text-align: center;
    color: $webfatorial-gray5
}

.prices{
    @include margins(24px, 9.51px, 0px, 0px);
    display: flex;
    align-items: center;
    justify-content: center;

    .special-price{
        @include dimensions(auto, 20px);
        @include margins(0px, 0px, 0px, 9px);
        color: $webfatorial-gray4;
        font-size: 15px;
        text-align: center;
        text-decoration: line-through;
    }
    
    .item-price{
        @include dimensions(auto, 28px);
        @include margins(0px, 0px, 0px, 0px);
        font-size: 21px;
        font-weight: map-get($webfont-weight, "extra-bold");
        text-align: center;
        color: $webfatorial-prices
    }
}

.button-buy{
    @include dimensions(210px, 40px);
    font-weight: map-get($webfont-weight, "extra-bold");
    font-size: 18px;
    border-radius: 5px;
    border-style: none;
    color: $webfatorial-background;
    background-color: $webfatorial-buttons;
    cursor: pointer;

    &:hover{
        background-color: $webfatorial-bars
    }
}

@media screen and (max-width: 1024px){
    .product{
        @include dimensions(162.97px, 314px);
        @include margins(0px, 20px, 0px, 24px);
    }

    .photo{
        @include dimensions(162.97px, 179.19px);
        @include margins(0px, 11.3px, 0px, 0px);
    }
    
    .image-product{
        @include dimensions(162.97px, 179.19px);
    }
    
    .button-buy{
        @include dimensions(164px, 40px);
    }
}

@media screen and (max-width: 768px){
    .product{
        @include dimensions(149.66px, 333px);
        @include margins(0px, 20px, 0px, 17px);
    }
    
    .photo{
        @include dimensions(149.66px, 165px);
    }
    
    .image-product{
        @include dimensions(149.66px, 165px);
    }
    
    .prices{
        @include margins(20px, 9.51px, 0px, 0px);
        display: block
    }
    
    .button-buy{
        @include dimensions(149.5px, 40px);
    }

    .special-price{
        @include margins(0px, 0px, 0px, 0px !important);
    }

}

@media screen and (max-width: 320px){
    
    .product{
        @include dimensions(132.78px, 254.49px);
        @include margins(0px, 20px, 0px, 10px);
    }
    
    .photo{
        @include dimensions(132.78px, 146px);
    }
    
    .image-product{
        @include dimensions(132.78px, 146px);
    }

    .prices{
        @include margins(40px, 9.51px, 0px, 0px);
    }
    
    .button-buy{
        @include invisible(hidden, 0px)
    }
}