@import '../../sass/abstract/variables';

.title-product{
    width: 119px;
    height: 43px;
    font-size: 32px;
    margin-top: 15px;
    margin-left: 22.72px;
    margin-bottom: 6.51px;
    font-weight: map-get($webfont-weight, "regular");
    color: $webfatorial-titles
}

.border{
    width: 955px;
    height: 1px;
    background-color: $webfatorial-gray1;
    margin-left: 24px
}

.filters{
    display: flex;
    margin-left: 24px;
    align-items: center;
    margin-bottom: 42px;
    margin-top: 8px;
    
    .grid{
        width: 20px;
        color: $webfatorial-titles
    }
    
    .list{
        width: 24.62px;
        margin-left: 11.61px;
        color: $webfatorial-buttons
    }
    
    .grid, .list{
        height: 20px;
        cursor: pointer;
        
        &:hover{
            color: $webfatorial-titles !important
        }
    }
}

.container-catalog{
    width: 1000px;
    margin-left: 25px;
    margin-bottom: 30px
}

@media screen and (max-width: 1024px){
    .products-catalog{
        width: 768px
    }

    .container-catalog{
        width: 752px
    }

    .border{
        width: 733px
    }
}

@media screen and (max-width: 768px){
    .products-catalog{
        width: 538px;

        .border{
            width: 496px
        }

        .container-catalog{
            width: 504px;
            margin-bottom: 25px
        }
    }
}

@media screen and (max-width: 320px){
    
    .products-catalog{
        width: 320px;

        .border{
            visibility: hidden;
            width: 0px;
            height: 0px
        }
    
        .container-catalog{
            width: 292.2px;
            margin-left: 16.25px
        }
    
        .filters{
            width: 304px;
            height: 27px;
            margin-bottom: 50px;
            margin-left: 16.74px;
            
            .grid, .list{
                visibility: hidden;
                height: 0px;
                width: 0px
            }
        }
    }
}