.titulo-produto{
    width: 119px;
    height: 43px;
    font-size: 32px;
    text-align: left;
    margin-top: 15px;
    margin-left: 22.72px;
    margin-bottom: 6.51px;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #ED1A39;
}

.container-catalogo{
    width: 1000px;
    height: auto;
    margin-left: 25px;
    margin-bottom: 30px
}

.borda{
    width: 955px;
    height: 1px;
    background-color: #E2DEDC;
    margin-left: 24px;
}

.grade, .list{
    height: 20px;
    cursor: pointer;
}

.grade{
    width: 20px;
    color: #ED1A39;
}

.list{
    width: 24.62px;
    margin-left: 11.61px;
    color: #00A8A9;
}

.filters{
    width: 955px;
    display: flex;
    margin-left: 24px;
    align-items: center;
    margin-bottom: 42px;
    margin-top: 8px
}


@media screen and (max-width: 1024px){
    .container-catalogo, .catalogo-produtos{
        width: 768px;
    }

    .container-catalogo{
        width: 740px;
    }

    .borda{
        width: 733px;
    }
}

@media screen and (max-width: 768px){
    .container-catalogo, .catalogo-produtos{
        width: 504px;
    }
    .container-catalogo{
        margin-bottom: 25px;
    }
    .borda{
        width: 496px;
    }
}

@media screen and (max-width: 320px){
    
    .catalogo-produtos{
        width: 320px;
    }
    .container-catalogo{
        width: 292.2px;
        margin-left: 16.25px;
    }
    
    .borda{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .grade, .list{
        visibility: hidden;
        height: 0px;
        width: 0px;
    }

    .filters{
        width: 304px;
        height: 27px;
        margin-bottom: 50px;
        margin-left: 16.74px
    }
}