@import '../../sass/abstract/variables';


.aside-filter{
    @include dimensions(261px, 474px);
    @include margins(22.51px, 0px, 100.64px, 0px);
    background-color: $webfatorial-background;
    border: 1px solid $webfatorial-gray1;

    .filter-title{
        @include dimensions(136px, 33px);
        @include margins(13.49px, 0px, 17.72px, 0px);
        font-size: 24px;
        font-weight: map-get($webfont-weight, "bold");
        color: $webfatorial-titles
    }
    
    .categories{
        @include dimensions(auto, 24px);
        @include margins(14px, 0px, 17.72px, 0px);
        color: $webfatorial-prices;
        font-size: 18px;
        font-weight: map-get($webfont-weight, "bold" )
    }

    .categories-filter{
        @include dimensions(90px, 70px);
        @include margins(11.06px, 0px, 0px, 0px);
    }

    .colors-text{
        @include dimensions(auto, 24px);
        @include margins(38.94px, 0px, 17.72px, 0px);
        color: $webfatorial-prices;
        font-weight: map-get($webfont-weight, "bold");
        font-size: 18px;
    }

    .colors{
        display: flex;
    
        .red, .orange, .aqua{
            @include dimensions(48px, 24px);
            @include margins(12.51px, 0px, 3px, 0px);
            cursor: pointer;
        }
        
        .red{
            @include margins(12.51px, 0px, 17px !important, 0px);
            background-color: $webfatorial-bars;
        }
        
        .orange{
            background-color: #F26324;
        }
        
        .aqua{
            background-color: #27A3A9; 
        }
    }
    
    .type-text{
        @include dimensions(auto, 24px);
        @include margins(32.49px, 0px, 17.72px, 0px);
        color: $webfatorial-prices;
        font-size: 18px;
        font-weight: map-get($webfont-weight, "bold");
    }

    .type{
        @include dimensions(95px, 94px);
        @include margins(15.06px, 0px, 0px, 0px);
    }
}

.filter-list{
    font-size: 16px;
    color: $webfatorial-gray5;
    cursor: pointer;

    &:hover{
        font-weight: map-get($webfont-weight, "bold")
    }
}

@media screen and (max-width: 1024px){
    .aside-filter{
        @include dimensions(226px, 474px);
        @include margins(22.51px, 0px, 20px, 0px);
    }
}

@media screen and (max-width: 768px){
    .aside-filter{
        @include dimensions(207px, 474px);
    }
}

@media screen and (max-width: 320px){
    .aside-filter{
        @include dimensions(290px, 474px);
        @include margins(22.51px, 0px, 15px, 0px);
    }
}