@import '../../sass/abstract/variables';


.price-filter{
    @include margins(0px, 0px, 587.5px, 0px);
    display: flex;
    align-items: center;
    justify-content: end;
    
    .order{
        @include dimensions(80px, 15px);
        @include margins(0px, 0px, 0px, 13.28px);
        color: $webfatorial-gray4;
        font-weight: map-get($webfont-weight, "bold" );
        font-size: 11px;
    }

    .dropbox{
        @include dimensions(216px, 27px);
        font-size: 14px;
        border-color: $webfatorial-gray1;
        border-radius: 5px;
        cursor: pointer
    }
}

@media screen and (max-width: 1024px) {
    .price-filter{
        @include margins(0px, 0px, 365.97px, 0px);
    }
}

@media screen and (max-width: 768px) {
    .price-filter{
        @include margins(0px, 0px, 132.51px, 0px);
    }
}

@media screen and (max-width: 320px) {
    .price-filter{
        @include margins(0px, 0px, 0px, 0px);
    }
    
    .dropbox{
        @include dimensions(198.63px !important, 27px);
    }
}