@import '../../sass/abstract/variables';

.home{
    display: flex;
}

.path-aside{
    @include dimensions(251.22px, 507px);
    @include margins(24px, 0px, 101px, 0px);
    background-color: #E2DEDC;

    .ul-aside{
        font-size: 18px;
    
        .li-aside{
            text-decoration: none;
            color: #000000;
        
            &:hover{
                font-weight: 700;
            }
        }
    }
}

.rectangle-header{
    @include dimensions(954px, 281px);
    @include margins(24px, 0px, 24.78px, 0px);
    background-color: #ACACAC;
}

.title{
    @include dimensions(210px, 36px);
    @include margins(14.49px, 0px, 24.5px, 0px);
    font-size: 26px;
}

.text{
    @include dimensions(951.65px, 181.42px);
    @include margins(5.4px, 12.69px, 24.5px, 0px);
    font-size: 16px;
    color: #000000;
    line-height: 19.2px;
}



@media screen and (max-width: 1024px) {

    .home-section, .home-page{
        height: 532px;
    }

    .path-aside{
        @include dimensions(207px, 483px);
        @include margins(17px, 0px, 20px, 0px);
    }

    .rectangle-header{
        @include dimensions(757.81px, 223.34px);
        @include margins(17px, 0px, 20.19px, 0px);
    }

    .title{
        @include margins(9.15px, 0px, 18.72px, 0px);
    }

    .text{
        @include dimensions(757.28px, 247.89px);
        @include margins(5.4px, 12.69px, 18.71px, 0px);
    }
}


@media screen and (max-width: 768px) {

    .path-aside{
        @include dimensions(153.19px, 357px);

        .ul-aside{
            @include dimensions(107px, 99px);
            font-size: 16px;
        }
    }

    .rectangle-header{
        @include dimensions(560.84px, 165.09px);
        @include margins(17px, 0px, 14.97px, 0px);
    }

    .title{
        @include margins(6.4px, 0px, 18.53px, 0px);
    }

    .text{
        @include dimensions(553.28px, 327.6px);
        @include margins(5.4px, 12.69px, 20.53px, 0px);
    }
}


@media screen and (max-width: 320px) {

    .home-section{
        @include dimensions(320px, 752px);
    }

    .path-aside,.li-aside, .ul-aside{
        @include invisible(hidden, 0px !important);
    }
    
    .rectangle-header{
        @include dimensions(290px, 86px);
        @include margins(0px, 0px, 15px, 0px);
    }

    .title{
        @include margins(14.49px, 0px, 14.72px, 0px);
    }

    .text{
        @include dimensions(289.28px, 610.25px);
        @include margins(0px, 0px, 15.72px, 0px);
    }
}