@import '../../sass/abstract/variables';

.index-indicator{
    @include dimensions(200px, 19px);
    @include margins(27.49px, 0px, 99.36px, 0px);

    .index-home{
        @include dimensions(152px, 19px);
        color: $webfatorial-buttons;
        font-size: 14px;
        text-decoration: none;

        &:hover{
            font-weight: map-get($webfont-weight, "bold")
        }
    }

    .bigger{
        font-size: 14px;
        color: $webfatorial-gray2;
        text-decoration: none
    }
    
    .index-second{
        font-size: 14px;
        text-decoration: none;
        color: $webfatorial-bars;

        &:hover{
            font-weight: map-get($webfont-weight, "bold")
        }
    }
}

@media screen and (max-width: 1024px){
    .index-indicator{
        @include margins(27.49px, 0px, 18.72px, 0px);
    }
}

@media screen and (max-width: 320px){
    .index-indicator{
        @include margins(27.49px, 0px, 13.72px, 0px);
    }    
}
