.indice{
    width: 170px;
    height: 19px;
    margin-left: 99.36px;
    margin-top: 27.49px;
    font-family: 'Open Sans';
}

.indice-home{
    width: 152px;
    height: 19px;
    font-size: 14px;
    text-align: left;
    color: #00A8A9;
    text-decoration: none;
}

.maior{
    font-size: 14px;
    color: #ACACAC;
    text-decoration: none;
}

.indice-second{
    font-size: 14px;
    text-decoration: none;
    color: #CB0D1F;
}

@media screen and (max-width: 1024px){
    .indice{
        margin-left: 18.72px;
    }
}

@media screen and (max-width: 320px){
    .indice{
        margin-left: 13.72px;
    }    
}
