@import '../../sass/abstract/variables';

.navigator{
    background-color: $webfatorial-bars;
    height: 54px;

    .nav-container{
        height: 100%;
        padding: 0%;
        margin: 0px;
        list-style: none;
        display: flex;
        align-items: center
    }

    .product-nav{
        font-size: 16px;
        font-weight: map-get($webfont-weight, "extra-bold");
        height: 22px;
        color: $webfatorial-background;
    
        .redirect{
            text-decoration: none;
            color: $webfatorial-background
        }
    }
}

#home-nav{
    margin-left: 103px
}

#shirts-nav{
    margin-left: 75px
}

#pants-nav{
    margin-left: 107px
}

#shoes-nav{
    margin-left: 116px
}

#contact-nav{
    margin-left: 110px
}

@media screen and (max-width: 1024px) {
    #home-nav{
        margin-left: 20.53px
    }
}

@media screen and (max-width: 768px) {
    #home-nav{
        margin-left: 20.53px
    }

    #shirts-nav{
        margin-left: 46px
    }

    #pants-nav{
        margin-left: 78px
    }

    #shoes-nav{
        margin-left: 88px
    }

    #contact-nav{
        margin-left: 80px
    }
}

@media screen and (max-width: 320px) {
    .navigator,.nav-container, .product-nav, .redirect{
            visibility: hidden;
            width: 0px !important;
            height: 0px !important;
            margin: 0px !important;
            padding: 0px;
            border: 0px
        }
}
