.numero-pagina{
    display: flex;
    align-items: center;
    width: 193.11px;
    justify-content: space-between;
    margin-left: 767.1px;
    margin-bottom: 27px
}

.numeros{
    display: flex;
    width: 124px;
    height: 22px;
    justify-content: space-between;
    cursor: pointer;
}

.pagina1{
    font-size: 16px;
    font-family: 'Open Sans';
    text-align: center;
    color: #626262;
}

.voltar, .avancar{
    width: 11.11px;
    height: 18px;
    color: #00A8A9;
    cursor: pointer;
}

.voltar{
    margin-right: 23.44px;
}

.avancar{
    margin-left: 23.44px;
}


@media screen and (max-width: 1024px){
    .numero-pagina{
        margin-left: 545.72px;
    }
}

@media screen and (max-width: 768px){
    .numero-pagina{
        margin-left: 384px;
    }
}

@media screen and (max-width: 320px){
    .numero-pagina{
        margin-left: 64.1px;
        margin-bottom: 25px;
    }
}