@import '../../sass/abstract/variables';

.numbers-page{
    width: 193.11px;
    margin-left: 767.1px;
    margin-bottom: 27px;
    display: flex;

    .number{
        height: 22px;
        width: 124px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    
        .page-1{
            font-size: 16px;
            color: $webfatorial-gray5
        }
    }
}

.back-button, .forward-button{
    width: 11.11px;
    height: 18px;
    color: $webfatorial-buttons;
    font-weight: map-get($webfont-weight, "extra-bold");
    cursor: pointer
}

.back-button{
    margin-right: 23.44px
}

.forward-button{
    margin-left: 23.44px
}

@media screen and (max-width: 1024px){
    .numbers-page{
        margin-left: 545.72px
    }
}

@media screen and (max-width: 768px){
    .numbers-page{
        margin-left: 384px
    }
}

@media screen and (max-width: 320px){
    .numbers-page{
        margin-left: 64.1px;
        margin-bottom: 25px
    }
}