@import '../../sass/abstract/variables';

.product{
    width: 212px;
    height: 365px;
    margin-right: 35.72px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.photo{
    width: 212px;
    height: 233px;
    margin-bottom: 8.49px;
    border: 1px solid $webfatorial-gray1;
    background-color: $webfatorial-background;
    display: flex;
    justify-content: center;
    cursor: pointer
}

.image-product{
    width: 196.27px;
    height: 215.71px;
    align-self: center;
    object-fit: scale-down
}

.description-product{
    height: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: map-get($webfont-weight, "regular");
    text-align: center;
    color: $webfatorial-gray5
}

.prices{
    margin-top: 24px;
    margin-bottom: 9.51px;
    display: flex;
    align-items: center;
    justify-content: center;

    .special-price{
        height: 20px;
        margin: 0px;
        margin-right: 9px;
        font-size: 15px;
        text-align: center;
        text-decoration: line-through;
        color: $webfatorial-gray4
    }
    
    .item-price{
        height: 28px;
        margin: 0px;
        font-size: 21px;
        font-weight: map-get($webfont-weight, "extra-bold");
        text-align: center;
        color: $webfatorial-prices
    }
}

.button-buy{
    width: 210px;
    height: 40px;
    font-weight: map-get($webfont-weight, "extra-bold");
    font-size: 18px;
    border-radius: 5px;
    border-style: none;
    color: $webfatorial-background;
    background-color: $webfatorial-buttons;
    cursor: pointer;

    &:hover{
        background-color: $webfatorial-bars
    }
}

@media screen and (max-width: 1024px){
    .product{
        width: 162.97px;
        height: 314px;
        margin-right: 24px
    }

    .photo{
        width: 162.97px;
        height: 179.19px;
        margin-bottom: 11.3px
    }
    
    .image-product{
        width: 162.97px;
        height: 179.19px
    }
    
    .button-buy{
        width: 164px;
        height: 40px
    }
}

@media screen and (max-width: 768px){
    .product{
        width: 149.66px;
        height: 333px;
        margin-right: 17px
    }
    
    .photo{
        width: 149.66px;
        height: 165px
    }
    
    .image-product{
        width: 149.66px;
        height: 165px
    }
    
    .description-products{
        margin-top: 0px;
        margin-bottom: 0px
    }
    
    .prices{
        margin-top: 20px;
        display: block
    }
    
    .button-buy{
        width: 149.5px
    }

    .special-price{
        margin-right: 0px !important
    }

}

@media screen and (max-width: 320px){
    
    .product{
        width: 132.78px;
        height: 254.49px;
        margin-right: 10px
    }
    
    .photo{
        width: 132.78px;
        height: 146px
    }
    
    .image-product{
        width: 132.78px;
        height: 146px
    }
    
    .description-products{
        margin-top: 0px;
        margin-bottom: 0px
    }

    .prices{
        margin-top: 40px
    }
    
    .button-buy{
        width: 0px;
        height: 0px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        visibility: hidden
    }
}