.sapatos{
    width: 1440px;
    height: auto;
}
.corpo{
    display: flex;
}


@media screen and (max-width: 1024px){
    .sapatos{
        width: 1024px;
    }
    
}

@media screen and (max-width: 768px){
    .sapatos{
        width: 768px;
    }
}

@media screen and (max-width: 320px){
    .sapatos{
        width: 320px;
    }
    
    .corpo{
        display: block;
    }    
}

