.header-top{
    @include dimensions(auto, 31px);
    background-color: $webfatorial-black3;
    display: flex
}

.header-top-text{
    @include dimensions(auto, 31px);
    @include margins(0px, 0px, 1114px, 0px);
    display: flex;
    align-items: center;

    .or, .acess, .register{
        color: $webfatorial-background;
        font-size: 14px;
        margin-inline: 2.48px
    }
    
    .acess, .register{
        font-weight: map-get($webfont-weight, "bold")
    }
}

.header-bot{
    display: flex;
    @include dimensions(auto, 114px);

    .logo{
        align-self: center;
        @include margins(0px, 0px, 101px, 0px);
        
        .interrogation1, .interrogation2{
            @include invisible (hidden, 0px);
            align-self: center;
        }
    }

    .search{
        @include dimensions(414px, 42px);
        @include margins(31px, 0px, 529.53px, 0px);
        padding: 0px;
        border: 1px solid $webfatorial-gray3;
    }

    .button-search{
        @include dimensions(110px, 44px);
        @include margins(31px, 0px, 0px, 0px);
        background-color: $webfatorial-bars;
        color: $webfatorial-background;
        font-weight: map-get($webfont-weight, "extra-bold");
        font-size: 16px;
        border-style: none;
        cursor: pointer;
        
        &:hover{
            background-color: $webfatorial-buttons
        }
    }
}

@media screen and (max-width: 1024px) {
    .header-top-text{
        @include margins(0px, 0px, 777px, 0px);
    }

    .header-bot{
        @include dimensions(1024px, 114px);

        .logo{
            @include margins(0px, 0px, 19px, 0px);
        }

        .search{
            @include margins(31px, 0px, 274.53px, 0px);
        }
    }
}

@media screen and (max-width: 768px) {
    .header-top-text{
        @include margins(0px, 0px, 521px, 0px);
    }

    .header-bot{
        @include dimensions(768px, 114px);

        .logo{
            @include margins(0px, 0px, 20px, 0px);
        }
    
        .search{
            @include margins(31px, 0px, 16.53px, 0px);
        }
    }
}

@media screen and (max-width: 320px) {
    .header-top{
        @include dimensions(auto, 30px);

        .header-top-text{
            @include margins(0px, 0px, 47px, 0px);
        }
    }

    .header-bot{
        @include dimensions(320px, 114px);
        padding: 0;

        .logo{
            @include dimensions(320px, auto);
            @include margins(0px, 0px, 0px, 0px);
            justify-content: space-between;
            display: flex;

            .interrogation1, .interrogation2{
                visibility: visible;
                @include dimensions(29px, 27px);
                @include margins(0px, 0px, 20px, 20px);
            }
        
            .interrogation2{
                color: $webfatorial-bars
            }
        }
    
        .search{
            @include invisible(hidden, 0px)
        }
    
        .button-search{
            @include invisible(hidden, 0px)
        }
    }
}
