.navigator{
    background-color: $webfatorial-bars;
    height: 54px;

    .nav-container{
        @include dimensions(auto, 100%);
        @include margins (0px, 0px, 0px, 0px);
        padding: 0%;
        list-style: none;
        display: flex;
        align-items: center
    }

    .product-nav{
        @include dimensions(auto, 22px);
        color: $webfatorial-background;
        font-weight: map-get($webfont-weight, "extra-bold");
        font-size: 16px;
    
        .redirect{
            color: $webfatorial-background;
            text-decoration: none;
        }
    }
}

#home-nav{
    @include margins (0px, 0px, 103px, 0px);
}

#shirts-nav{
    @include margins (0px, 0px, 75px, 0px);
}

#pants-nav{
    @include margins (0px, 0px, 107px, 0px);
}

#shoes-nav{
    @include margins (0px, 0px, 116px, 0px);
}

#contact-nav{
    @include margins (0px, 0px, 110px, 0px);
}

@media screen and (max-width: 1024px) {
    #home-nav{
        @include margins (0px, 0px, 20.53px, 0px);
    }
}

@media screen and (max-width: 768px) {
    #home-nav{
        @include margins (0px, 0px, 20.53px, 0px);
    }

    #shirts-nav{
        @include margins (0px, 0px, 46px, 0px);
    }

    #pants-nav{
        @include margins (0px, 0px, 78px, 0px);
    }

    #shoes-nav{
        @include margins (0px, 0px, 88px, 0px);
    }

    #contact-nav{
        @include margins (0px, 0px, 80px, 0px);
    }
}

@media screen and (max-width: 320px) {
    .navigator, .nav-container, .product-nav, .redirect{
            @include invisible(hidden, 0px !important)
    }
}
