// Colors Page

$webfatorial-background: #FFFFFF;
$webfatorial-bars: #CB0D1F;
$webfatorial-titles: #ED1A39;
$webfatorial-orange: #F26324;
$webfatorial-black1: #000000;
$webfatorial-black2: #1A1818;
$webfatorial-black3: #231F20;
$webfatorial-gray1: #E2DEDC;
$webfatorial-gray2: #ACACAC;
$webfatorial-gray3: #959595;
$webfatorial-gray4: #808185;
$webfatorial-gray5: #626262;
$webfatorial-buttons: #00A8A9;
$webfatorial-boxblue: #27A3A9;
$webfatorial-filters-title: #61908C;
$webfatorial-prices: #1E2B50;


// Fonts

$webfont-weight: (
    "regular" : 300,
    "bold" : 700,
    "extra-bold" : 800
)